@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0 !important;
}
.Toastify__toast {
  font-size: 14px; /* Change the font size to your desired size */
  font-family: inherit;
}
.mde-header-item button {
  color: inherit !important;
}
